.childUpperFooter {
  
  background-color: rgb(237, 236, 236);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature {
  
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

.upperText{
font-size: medium;
margin-bottom: 3px;
}

.lowerText{
font-size: small;
}
