.offerbar{
    
    
}
.offerbarChild{
    background-color: black;
    min-height: 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    flex-wrap: wrap;


}

.text{
    color: white;
    margin-right: 5px;
    font-size: 0.72rem;
    
    
}

.clickhere{
    color: red;
    font-size: 0.72rem;
    

}

