.Offerbar{
    

}
.offerbarChild{
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 20px;


}

.text{
    color: white;
    margin-right: 5px;
    font-size: small;

}

.clickhere{
    color: red;
    font-size: small;

}

