
.childCategory{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffd494;
    width: 100%;
    height: 80px;
    
}

.topText{
    font-size: 1.6rem;
    /* padding-bottom: 6px; */
    margin: 0px;
    
}

.bottomText{
    font-size: 0.7rem;
    margin: 0px;
    padding-bottom: 15px;
}